<!DOCTYPE html>
<html lang="fr">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Club 2</h1>
                    <p>Dear supporters, At the dawn of this new year, I wanted to show you my gratitude for your loyalty and unfailing support for our beautiful Oyonnax Rugby team. I hope it brings you, as well as all your loved ones, a lot of joy and satisfaction, and that those who will encounter hardship find comfort in the friendship and solidarity of the great family of Oyonnax Rugby supporters. . The players of Oyonnax Rugby made us vibrate throughout the previous season and failed at the gates of the final. Beyond the disappointment, the defeat of this third consecutive semi-final allowed us to measure the gap we still have to fill to reach the highest level of French rugby.

                        This is why I decided with the entire Management Board to take up the challenge and significantly strengthen our team in the off season in order to give ourselves the sporting and financial means to achieve this. This season we have found a beautiful team that is united, strong, driven by a feeling of invincibility built around an excellent manager and his team. They gave back to the Oyoman all its sense of identity. This season more than any previous season, we need to support our Oyomen and come to the stadium in greater numbers to encourage them, they need us, you. A club like ours, like our city, our valley, must be the most efficient and show that despite a difficult and uncertain economic context, sport in general and rugby in particular allows us to remain optimistic. . On behalf of the entire Management Board, I wish you a very happy new year 2023. “Improbo Fabrum Labore Ascendit” Dougal BENDJABALLAH Chairman of the Board of Directors</p>
                    <img src="https://picsum.photos/200/300" alt="Club 2" />
                </div>
            </div>
        </div>
    </body>
</html>