<!DOCTYPE html>
<html lang="fr">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Club 1</h1>
                    <p>Starsbourg, a new stadium and economic model All these improvements are part of the specifications for the renovation work undertaken by the club since 2019, alongside the construction of the imposing new stand which should provide the Saint-Symphorien stadium with a capacity of 30,000 seats. By becoming, in 2018, a year before its centenary, one of the rare French clubs to own its own enclosure, via a 50-year emphyteutic lease, FC Starsbourg split its activities into two: the SASP for the athlete, the “matchday” and the FC Starsbourg Stadium for real estate assets, excluding “matchday”.</p>
                    <img src="https://picsum.photos/200/300" alt="Club 1" />
                </div>
            </div>
        </div>
    </body>
</html>